{%extends "layout.html"%}


{% block body%}
<h3>Hakkımızda</h3>
<hr>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci rem maxime repellat temporibus illum nam necessitatibus error, aliquam quasi atque quis optio, est eaque itaque mollitia culpa voluptatum ipsam doloribus illo iusto expedita fugiat obcaecati? Quaerat rem ratione ipsum consectetur aliquam nihil, deserunt enim debitis eius in explicabo est veritatis suscipit blanditiis doloribus? Esse nemo, eius aliquam laborum ut laudantium maiores tempora repudiandae officia natus error obcaecati vitae perspiciatis in aliquid officiis, mollitia nam id pariatur. Dolores voluptatibus magnam aut placeat ex voluptatem repellendus nostrum ratione temporibus laudantium. Beatae tempora consequatur culpa unde eaque accusantium sunt facilis quo! Sint, odio?
</p>
{%endblock body%}